body {
    background: url("ironman.png");
}


.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: bottom;
    background: url("icons.png") no-repeat;
}

.icon-add {
    background-position: 0 0;
    margin-right: 5px;
    margin-left: 0;
}

.icon-delete {
    background-position: -24px 0;
}

.icon-edit {
    background-position: -50px 0;
}

.icon-watched {
    background-position: -75px 0;
}

.icon-first {
    background-position: -125px 0;
    margin: 0;
}

.icon-prev {
    background-position: -150px 0;
    margin: 0;
}

.icon-next {
    background-position: -165px 0;
    margin: 0;
}

.icon-last {
    background-position: -190px 0;
    margin: 0;
}

.heading {
    color: #B0C4DE;
    font-size: 25px;
}

.style {
    border-spacing: 0 3px;
    margin: 40px auto;
    text-align: center;
    vertical-align: middle;
    width: 60%;
}

.style th {
    color: #000000;
    background: rgba(119, 136, 153);
    padding: 10px;
}

.style td {
    width: 1%;
    padding: 5px;
}

.style tr {
    height: 40px;
    opacity: 0.9;
}

.style tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.9);
}

.style tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.9);
}

.style input {
    background: rgba(255, 255, 255, 0.9);
    height: 30px;
    width: 300px;
    text-align: center;
    opacity: 0.9;
}

.checkbox label {
    display: block;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 5px;
    height: 25px;
    width: 300px;
    box-shadow: 3px 3px 25px rgb(15, 15, 45);
    margin: auto;
    color: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.checkbox label::selection, .checkbox span::selection {
    background: transparent;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox-common {
    display: block;
    height: 30px;
    width: 40px;
    position: relative;
    margin: auto;
    font-size: 20px;
    text-align: center;
    color: black;

}

.checkbox-yes {
    bottom: 57px;
    left: 100px;
    opacity: 0;
}

.checkbox-no {
    bottom: 27px;
    right: 100px;
}

#watched:checked ~ .checkbox-yes {
    opacity: 1;
}

#watched:checked ~ .checkbox-no {
    opacity: 0;
}

input[type=submit] {
    width: 100px;
    height: 35px;
    cursor: pointer;
}

input[type=submit]:active {
    transition: 0s;
    background: rgba(210, 210, 210, 0.9);
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0 0;
}

.left-side {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.right-side {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.title {
    text-align: left;
    font-size: 130%;
}